.hidden {
    display: none;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}


/* headeerrrr */


.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contact-list {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .header-logo-accent{
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
margin-left: 149px;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-menu-item{
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-item.current{
        position: relative;
    }

    .header-menu-item.current::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: #404bbf;
    }

    .adress{
        font-style: normal;
        display: block;
    }

    .contact-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-menu-item-adres{
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-item:hover,
    .header-menu-item:focus,
    .header-menu-item-adres:hover,
    .header-menu-item-adres:focus,
    .header-menu-item.current {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contact-list{
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .header-menu-item-adres{
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* MOBIIILE */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
    border: none;
    background-color: #404bbf;
}

.mobile-menu-nav {
    margin-top: 24px;
    margin-bottom: auto;
}

.mobile-nav-item {
    margin-bottom: 40px;
}

.last-item {
    margin-bottom: 0;
}

.mobile-nav-link {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-contacts-item {
    font-style: normal;
    margin-bottom: 24px;
}

.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-telefon,
.mobile-studio {
    color: #4d5ae5;
}

.mobile-email {
    margin-bottom: 0;
}

.icon-list-mobile {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
}

.icon-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}

.icon-image {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
/* herooooo */

.hero {
    padding: 72px 0;
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),url(../images/people-office.jpg)
}

@media screen and (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-deckop-2x.jpg);
    }
}

.hero-container {
    display: block;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
    max-width: 216px;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 16px 32px;

    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
    margin: 0 auto;
    border: none;
}

.hero-btn:hover {
    background-color: #404bbf;
    color: #ffffff;

}

.hero-btn:focus {
    background-color: #404bbf;
    color: #ffffff;

}

@media screen and (min-width: 768px){
.hero {
        padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-plan-2x.jpg);
        background-repeat: no-repeat;

        max-width: 768px;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        margin-bottom: 36px;
        max-width: 496px;
    }
}



@media screen and (min-width: 1158px){
   
    .hero {
            padding: 188px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-deckop-2x.jpg);
            max-width: 1440px;
        }
    
        .hero-title {
            margin-bottom: 48px;
        }
}


/* featuuuress */

.features{
    padding: 96px 0;

}
.features-list {
display: flex; 
 flex-wrap: wrap;
   
    gap: 24px;
    row-gap: 72px;
  
}
.features-item {
    width: 100%;
}

.features-item-box{
    display: none;

}
.features-subtitle {
   
        font-size: 36px;
        line-height: 1.12;
        letter-spacing: 0.02em;
       
        color: #2e2f42; 
         margin-bottom: 8px;
}

.features-item-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
       
}


@media screen and (min-width: 768px) {
    .features-item{
        width: calc((100% - 24px) / 2);
    }
        .features-list {
          align-items: baseline;
}
}
@media screen and (min-width: 1158px) {
    .features{
        padding: 120px 0;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .features-item{
        width: calc((100% - 72px) / 4);
    }

    .features-item-box{
        display: flex;
        align-items: center;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        padding: 24px 0;
        margin-bottom: 8px;
        justify-content: center;
        height: 112px;
    }

    .icon {
        margin: 0 auto;
    }

    .features-subtitle{
        text-align: left;
        font-weight: 500;
        font-size: 20px;
    }

    .features-item-text{
        font-weight: 400;
    }
}


    /* TASTEEE */


        .taste{
            background-color: #f4f4fd;
            padding: 120px 0;
        }
    
        .taste-container{
            display: block;
        }
    
        .taste-list{
            display: flex;
            align-items: center;
            gap: 24px;
            row-gap: 72px;
            flex-wrap: wrap;
        }
    
        .taste-item_bg{
            border-radius: 0px 0px 4px 4px;
            width: 264px;
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            margin: 0 auto;
        }
    
        .work-container{
            padding: 32px 0;
        }
    
        .taste-title,
        .portfolio-section-title {
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            text-transform: capitalize;
            color: #2e2f42;
            margin: 0 auto 72px;
        }
    
        .features-item,
        .portfolio-card{
            background-color: #fff;
        }
    
        .taste-subtitle{
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            margin: 0 auto 8px;
        }
    
        .taste-item-text{
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 8px;
        }
    
        .social-network{
            display: flex;
            justify-content: center;
            gap: 24px;
        }
    
        .social-list{
            width: 40px;
            height: 40px;
        }
    
        .social-link{
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .social-link:hover,
        .social-link:focus {
            background-color: #404bbf;
        }
    
        .social-icon{
            fill: #f4f4fd;
        }
    
        @media screen and (min-width: 768px) {
            .taste-list{
                row-gap: 64px;
            }
    
            .taste-item_bg {
                width: calc((100% - 24px) / 2);
                
            }
            
                      
            /* .taste-title{
                width: 552px;
            } */


            .taste-container{
                width: 584px;
            }
        }
    
 @media screen and (min-width: 1158px) {
    .taste {
     padding: 120px 0;
     }
    
     .section-title{
     width: 100%;
    }
    
    .taste-item_bg{
      width: calc((100% - 72px) / 4);
    }
           .taste-container {
               width: 1128px;
           }
        }

/* Poorfoliooo */

.portfolio {
padding: 96px 0;
}

.portfolio-section-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    /* max-width: 218px; */
    margin: 0 auto;
    margin-bottom: 72px;

}

.portfolio-title {


    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-list {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    list-style: none;



}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    box-sizing: border-box;

}



.portfolio-card {
    gap: 48px;
    display: block;
    background-color: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* .portfolio-card:hover{
    transform: translateY(0%);
    transition: transform 250ms ease;
} */

.portfolio-img-container {
    position: relative;
    overflow: hidden;


}

.title-img-container {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-card:hover .title-img-container {
    transform: translateY(0%);
}


.portfolio-overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;

}

.portfolio-overlay-text:hover {
    transform: translateY(0%);
    transition: transform 250ms ease;
}





.portfolio-subtitle {
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}


@media screen and (min-width: 768px){
    .portfolio-card{
            width: calc((100% - 24px) / 2);
        }
}



 @media screen and (min-width: 1158px){
    .portfolio {
            padding-top: 120px;
            padding-bottom: 120px;
        }
      .portfolio-card{
 width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 box-shadow: none;
 }
 }


 /* FOOOTERRRR */
.footer {
   padding: 96px 0;
     background-color: #2e2f42;
}

.footer-container,.footer-container-right,.form-container{
display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 16px;
    
}

.footer-container{
    row-gap: 72px;
}

.left-footer{
display: flex;
flex-direction: column;
align-items: flex-start;
position: relative;

}
  .footer-logo {
  
        display: block;
         margin-left: auto;
        margin-right: auto;  
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: #4d5ae5;
        margin-bottom: 16px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
        }

      
.footer-logo .footer-logo-accent {
    color: #f4f4fd;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.p-right{
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 264px;
   
}
.footer-list{
    display: flex;
        justify-content: center;
        gap: 16px;
}

.social-list-footer{
    width: 40px;
        height: 40px;
}

.social-link-footer{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,.social-link-footer:focus{
    background-color: #31d0aa;
}



.form-text{
    display: flex;
    align-items: center;
    row-gap: 16px;
    flex-wrap: wrap;
}

.email-form-text{
    width: 288px;
        height: 40px;
        bottom: 1px solid #fff;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 1px solid #ffffff;
        margin-bottom: 16px;
}
.email-form-text::placeholder{
    color: #fff;
}

.E-mail {
    color: #ffffff;
}
.btn-subscribe{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.text-footer-sbscribe {
   
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin-bottom: 16px;
}

  .telegram {
      margin-left: 16px;
  }

@media screen and (min-width: 768px) {
        .footer-container{
            width: 584px;
        }

        .footer-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 72px 24px;
            align-items: baseline;
        }

        .left-footer,
        .footer-container-right,
        .form-container{
            display: block;
            padding-bottom: 0;
        }

        .container-form {
            display: flex;
            gap: 24px;
        }

        .email-form-text {
            width: 264px;
        }

        .footer-container-right{
            margin-right: auto;
        }
    }
   
 @media screen and (min-width: 1158px) {
     .footer {
        padding: 100px 0;
    }
    
     .footer-container{
        width: 100%;
        gap: unset;
      }
    
     .left-footer{
         margin-right: 120px;
    }
        .p-right {
            margin-bottom: 16px;
        }
    
    .footer-container{
      display: flex;
      align-items: baseline; 
      padding-left: 15px;
     padding-right: 15px;
    }
    
   
          
 }



         /*modal*/
  .backdrop {
      position: fixed;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: rgba(46, 47, 66, 0.4);

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
          visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
  }

  .modal {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 288px;
      min-height: 623px;
      border-radius: 4px;
      padding: 72px 16px 24px 16px;

      transform: translate(-50%, -50%);

      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
          0 2px 1px 0 rgba(0, 0, 0, 0.2);
      background-color: #fcfcfc;

      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop:not(.is-open) .modal {
      transform: translate(-50%, -100%);
  }
  .close {
      position: absolute;
      top: 24px;
      right: 24px;
      border-radius: 50%;
      background-color: #e7e9fc;
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 24px;
      height: 24px;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-close {
      fill: #2e2f42;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close:hover,
  .close:focus {
      border: none;
      background-color: #404bbf;
  }

  .close:hover .icon-close,
  .close:focus .icon-close {
      fill: #ffffff;
  }
  .modal-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
      margin-bottom: 16px;
  }

  /*form*/
  .form-modal {
      margin-bottom: 16px;
  }

  .form-label {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #8e8f99;
      display: block;
      margin-bottom: 4px;
  }

  .content-name {
      position: relative;
  }

  .text-name {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      background-color: transparent;
      padding-left: 38px;
      outline: transparent;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-person {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .text-name:focus {
      border-color: #4d5ae5;
  }

  .text-name:focus+.icon-person {
      fill: #4d5ae5;
  }

  .comment {
      margin-bottom: 16px;
  }

  .text-comment {
      height: 120px;
      width: 100%;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      background-color: transparent;
      padding: 8px 16px;
      outline: transparent;
      resize: none;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .text-comment:focus {
      border-color: #4d5ae5;
  }

  .form-comment {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #8e8f99;
      display: block;
      margin-bottom: 4px;
  }

  /*checkbox*/
  .checkbox-form {
      margin-bottom: 24px;
  }

  .form-accept {
      display: flex;

      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #8e8f99;
      align-items: center;
  }

  .check-element {
      width: 16px;
      height: 16px;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 2px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          border 250ms cubic-bezier(0.4, 0, 0.2, 1),
          fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      fill: transparent;
      margin-right: 8px;
      flex-shrink: 0;
  }

  .text-accept {
      justify-content: center;
  }

  .link-privacy-policy {
      color: #4d5ae5;
      text-decoration: underline;
      margin-left: 4px;
  }

  .visually-hidden:checked+.form-accept .check-element {
      border-radius: 2px;
      border: none;
      background-color: #404bbf;
      fill: #f4f4fd;
  }

  .button-send {
      display: block;
      min-width: 169px;
      height: 56px;
      border-radius: 4px;
      align-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #ffffff;
      cursor: pointer;
      border: none;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      background: #4d5ae5;
      margin: 24px auto;
  }

  @media screen and (min-width: 768px) {
      .modal {
          width: 408px;
          height: 584px;
          padding: 72px 24px 0px 24px;
      }
  }